<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New York Times - Article Scraper</title>
    <link rel="stylesheet" href="/css/min/style.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <% if(article) { %>
            <div class="item">
                <h2><%= article.title %></h2>
                <p><%= article.summary %></p>
                <a href="<%= article.url %>">Read More</a>
            </div>
            <% } %>
            
        </div>
    </div>
</body>

</html>