<%- include('partials/head') %>

    <div class="container">
        <div class="row">
            <form method="post" action="/article" class="item">
                <div class="input-group card-input-group ">
                    <span class="input-container">
                        <input name="url" id="article-url" placeholder="New York Times Article URL" type="text"
                            class="card-input">
                        <input type="submit">
                        <!-- <button value="ok" id="submit" class="search-button">Go</button> -->
                    </span>
                </div>
            </form>

        </div>
    </div>

<%- include('partials/footer') %>